@keyframes sliding {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
    
}

.img-slide:hover .img-slide-rolling{
    animation-play-state: paused;
    cursor: grab;
}

.img-slide-rolling{ 
    animation: 5s sliding infinite linear;
}

.img-slide:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white 100%);
}

.img-slide:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
}

@media screen and (max-width: 700px) {
    .img-slide:after, .img-slide:before{
        width: 50px;
    }
}
